// Typography
$font-family-sans-serif: sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// bootstrap color
$primary: #1a8658 !default;
$secondary: #636C73 !default;
$danger: #E22C27 !default;

$blue-octopus: #08667E !default;

//SDK Octopus style
$octopus-background: #fafafa !default;
$octopus-primary-color: #1a8658 !default;
$octopus-secondary-color : #ddd !default;

$primaryColorTransparent : #1a865893 !default;
$primaryColorMoreTransparent : #1a865854 !default;
$primaryColorReallyTransparent : #cef7e250 !default;
