@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cookie";
  src: local("Cookie"),
    url("./Cookie-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa"),
    url("./Comfortaa-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("./Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab"),
    url("./Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}