@font-face {
  font-family: 'icomoon';
  src:  url('/css/fonts/icomoon.eot?svfrvx');
  src:  url('/css/fonts/icomoon.eot?svfrvx#iefix') format('embedded-opentype'),
    url('/css/fonts/icomoon.ttf?svfrvx') format('truetype'),
    url('/css/fonts/icomoon.woff?svfrvx') format('woff'),
    url('/css/fonts/icomoon.svg?svfrvx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="saooti-"], [class*=" saooti-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.saooti-text-to-speech:before {
  content: "\e922";
}
.saooti-left:before {
  content: "\e900";
}
.saooti-right:before {
  content: "\e901";
}
.saooti-volume-mute:before {
  content: "\e902";
}
.saooti-volume-high:before {
  content: "\e903";
}
.saooti-forward:before {
  content: "\e904";
}
.saooti-backward:before {
  content: "\e905";
}
.saooti-exit:before {
  content: "\e906";
}
.saooti-enter:before {
  content: "\e907";
}
.saooti-checkmark:before {
  content: "\e908";
}
.saooti-minus:before {
  content: "\e909";
}
.saooti-eye-blocked:before {
  content: "\e90a";
}
.saooti-eye:before {
  content: "\e90b";
}
.saooti-link:before {
  content: "\e90c";
}
.saooti-menu:before {
  content: "\e90d";
}
.saooti-bin:before {
  content: "\e90e";
}
.saooti-user-plus:before {
  content: "\e90f";
}
.saooti-users:before {
  content: "\e910";
}
.saooti-bubbles:before {
  content: "\e911";
}
.saooti-download:before {
  content: "\e912";
}
.saooti-clock:before {
  content: "\e913";
}
.saooti-phone:before {
  content: "\e914";
}
.saooti-file-music:before {
  content: "\e915";
}
.saooti-music:before {
  content: "\e916";
}
.saooti-newspaper:before {
  content: "\e917";
}
.saooti-help:before {
  content: "\e918";
}
.saooti-hourglass:before {
  content: "\e919";
}
.saooti-more_vert:before {
  content: "\e91a";
}
.saooti-video:before {
  content: "\e91b";
}
.saooti-rec:before {
  content: "\e91c";
}
.saooti-dtmf:before {
  content: "\e91d";
}
.saooti-refresh:before {
  content: "\e91e";
}
.saooti-disconnected:before {
  content: "\e91f";
}
.saooti-feed:before {
  content: "\e920";
}
.saooti-headphones:before {
  content: "\e921";
}
.saooti-export:before {
  content: "\e923";
}
.saooti-send:before {
  content: "\e924";
}
.saooti-search:before {
  content: "\e925";
}
.saooti-facebook:before {
  content: "\e926";
}
.saooti-twitter:before {
  content: "\e927";
}
.saooti-remove:before {
  content: "\e928";
}
.saooti-rss:before {
  content: "\e929";
}
.saooti-stop:before {
  content: "\e92a";
}
.saooti-pause:before {
  content: "\e92b";
}
.saooti-down:before {
  content: "\e92c";
}
.saooti-up:before {
  content: "\e92d";
}
.saooti-volume:before {
  content: "\e92e";
}
.saooti-play:before {
  content: "\e92f";
}
.saooti-warning:before {
  content: "\e930";
}
.saooti-edit:before {
  content: "\e931";
}
.saooti-linkedin:before {
  content: "\e932";
}
.saooti-tunin:before {
  content: "\e933";
  color: #36b4a7;
}
.saooti-radioline:before {
  content: "\e934";
  color: rgb(22, 120, 189);
}
.saooti-spotify:before {
  content: "\e941";
  color: #1ed760;
}
.saooti-podcast:before {
  content: "\e942";
  color: #93c;
}
.saooti-deezer:before {
  content: "\e943";
  color: #00c7f2;
}
.saooti-apple:before {
  content: "\e944";
  color: #999;
}
.saooti-mic:before {
  content: "\e945";
}
.saooti-mic-off:before {
  content: "\e946";
}
.saooti-cartouche:before {
  content: "\e947";
}
.saooti-listening:before {
  content: "\e948";
}
.saooti-user:before {
  content: "\e949";
}
.saooti-stitcher-logo .path1:before {
  content: "\e94a";
  color: rgb(0, 0, 0);
}
.saooti-stitcher-logo .path2:before {
  content: "\e94b";

  color: rgb(0, 0, 0);
}
.saooti-stitcher-logo .path3:before {
  content: "\e94c";

  color: rgb(0, 0, 0);
}
.saooti-stitcher-logo .path4:before {
  content: "\e94d";

  color: rgb(0, 0, 0);
}
.saooti-stitcher-logo .path5:before {
  content: "\e94e";

  color: rgb(0, 0, 0);
}
.saooti-stitcher-logo .path6:before {
  content: "\e94f";

  color: rgb(0, 0, 0);
}
.saooti-stitcher-logo .path7:before {
  content: "\e950";

  color: rgb(0, 0, 0);
}
.saooti-stitcher-logo .path8:before {
  content: "\e951";

  color: rgb(0, 0, 0);
}
.saooti-stitcher-logo .path9:before {
  content: "\e952";

  color: rgb(53, 144, 197);
}
.saooti-stitcher-logo .path10:before {
  content: "\e953";

  color: rgb(53, 144, 197);
}
.saooti-stitcher-logo .path11:before {
  content: "\e954";

  color: rgb(197, 56, 39);
}
.saooti-stitcher-logo .path12:before {
  content: "\e955";

  color: rgb(197, 56, 39);
}
.saooti-stitcher-logo .path13:before {
  content: "\e956";

  color: rgb(236, 139, 36);
}
.saooti-stitcher-logo .path14:before {
  content: "\e957";

  color: rgb(236, 139, 36);
}
.saooti-stitcher-logo .path15:before {
  content: "\e958";

  color: rgb(251, 198, 24);
}
.saooti-stitcher-logo .path16:before {
  content: "\e959";

  color: rgb(251, 198, 24);
}
.saooti-stitcher-logo .path17:before {
  content: "\e95a";

  color: rgb(97, 34, 104);
}
.saooti-stitcher-logo .path18:before {
  content: "\e95b";

  color: rgb(97, 34, 104);
}
.saooti-pocket-casts:before {
  content: "\e95c";
  color: rgb(244, 62, 55);
}
.saooti-pocket-casts:after {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.saooti-playerfm:before {
  content: "\e95e";
  color: #bb202a;
}
.saooti-podcast-addict:before {
  content: "\e95f";
  color: rgb(244, 132, 45);
}
.saooti-podcast-addict:after {
  content: "\e960";
  margin-left: -0.998046875em;
  color: rgb(255, 255, 255);
}
.saooti-filter-distrib:before {
  content: "\e961";
}
.saooti-google-podcasts .path1:before {
  content: "\e962";
  color: rgb(0, 102, 217);
}
.saooti-google-podcasts .path2:before {
  content: "\e963";

  color: rgb(66, 133, 244);
}
.saooti-google-podcasts .path3:before {
  content: "\e964";

  color: rgb(234, 67, 53);
}
.saooti-google-podcasts .path4:before {
  content: "\e965";

  color: rgb(52, 168, 83);
}
.saooti-google-podcasts .path5:before {
  content: "\e966";

  color: rgb(250, 185, 8);
}
.saooti-google-podcasts .path6:before {
  content: "\e967";

  color: rgb(52, 168, 83);
}
.saooti-google-podcasts .path7:before {
  content: "\e968";

  color: rgb(250, 185, 8);
}
.saooti-amazon .path1:before {
  content: "\e969";
  color: rgb(255, 153, 0);
}
.saooti-amazon .path2:before {
  content: "\e96a";

  color: rgb(255, 153, 0);
}
.saooti-amazon .path3:before {
  content: "\e96b";

  color: rgb(0, 0, 0);
}
.saooti-Whatsapp .path1:before {
  content: "\e96c";
  color: rgb(44, 183, 66);
}
.saooti-Whatsapp .path2:before {
  content: "\e96d";

  color: rgb(255, 255, 255);
}
.saooti-Whatsapp .path3:before {
  content: "\e96e";

  color: rgb(44, 183, 66);
}
.saooti-more:before {
  content: "\e96f";
}
.saooti-newsletter:before {
  content: "\e970";
}
.saooti-qrcode:before {
  content: "\e971";
}
.saooti-pin:before {
  content: "\e972";
}
.saooti-copy:before {
  content: "\e973";
}
.saooti-table:before {
  content: "\e974";
}
.saooti-arrow-right:before {
  content: "\e975";
}
.saooti-arrow-down:before {
  content: "\e976";
}
.saooti-arrow-up:before {
  content: "\e977";
}
