@font-face {
  font-family: 'icomoon';
  src:  url('/css/fonts/icomoon.eot?kq297p');
  src:  url('/css/fonts/icomoon.eot?kq297p#iefix') format('embedded-opentype'),
    url('/css/fonts/icomoon.ttf?kq297p') format('truetype'),
    url('/css/fonts/icomoon.woff?kq297p') format('woff'),
    url('/css/fonts/icomoon.svg?kq297p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="saooti-"], [class*=" saooti-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.saooti-play-video:before {
  content: "\e940";
}
.saooti-edit-ftp:before {
  content: "\e93f";
}
.saooti-iheart:before {
  content: "\e93e";
  color: #e11b22;
}
.saooti-amzn:before {
  content: "\e93d";
}
.saooti-instagram:before {
  content: "\e938";
}
.saooti-website:before {
  content: "\e939";
}
.saooti-youtube:before {
  content: "\e93a";
  color: #fe0000;
}
.saooti-linktree:before {
  content: "\e93b";
  color: #43e660;
}
.saooti-amazon-music:before {
  content: "\e93c";
}
.saooti-calendar:before {
  content: "\e937";
}
.saooti-home:before {
  content: "\e935";
}
.saooti-help-octopus:before {
  content: "\e936";
}
.saooti-upload:before {
  content: "\e97a";
}
.saooti-recule:before {
  content: "\e97b";
}
.saooti-share:before {
  content: "\e97c";
}
.saooti-admin-menu:before {
  content: "\e97d";
}
.saooti-article-player:before {
  content: "\e97e";
}
.saooti-avance:before {
  content: "\e97f";
}
.saooti-next-octopus:before {
  content: "\e980";
}
.saooti-prec-octopus:before {
  content: "\e981";
}
.saooti-profil-ocotopus:before {
  content: "\e982";
}
.saooti-certified:before {
  content: "\e978";
}
.saooti-text-to-speech:before {
  content: "\e922";
}
.saooti-left:before {
  content: "\e900";
}
.saooti-right:before {
  content: "\e901";
}
.saooti-volume-mute:before {
  content: "\e902";
}
.saooti-volume-high:before {
  content: "\e903";
}
.saooti-forward:before {
  content: "\e904";
}
.saooti-backward:before {
  content: "\e905";
}
.saooti-exit:before {
  content: "\e906";
}
.saooti-enter:before {
  content: "\e907";
}
.saooti-checkmark:before {
  content: "\e908";
}
.saooti-minus:before {
  content: "\e909";
}
.saooti-eye-blocked:before {
  content: "\e90a";
}
.saooti-eye:before {
  content: "\e90b";
}
.saooti-link:before {
  content: "\e90c";
}
.saooti-menu:before {
  content: "\e90d";
}
.saooti-bin:before {
  content: "\e90e";
}
.saooti-user-plus:before {
  content: "\e90f";
}
.saooti-users:before {
  content: "\e910";
}
.saooti-bubbles:before {
  content: "\e911";
}
.saooti-download:before {
  content: "\e912";
}
.saooti-clock:before {
  content: "\e913";
}
.saooti-phone:before {
  content: "\e914";
}
.saooti-file-music:before {
  content: "\e915";
}
.saooti-music:before {
  content: "\e916";
}
.saooti-newspaper:before {
  content: "\e917";
}
.saooti-help:before {
  content: "\e918";
}
.saooti-hourglass:before {
  content: "\e919";
}
.saooti-more_vert:before {
  content: "\e91a";
}
.saooti-video:before {
  content: "\e91b";
}
.saooti-rec:before {
  content: "\e91c";
}
.saooti-dtmf:before {
  content: "\e91d";
}
.saooti-refresh:before {
  content: "\e91e";
}
.saooti-disconnected:before {
  content: "\e91f";
}
.saooti-feed:before {
  content: "\e920";
}
.saooti-headphones:before {
  content: "\e921";
}
.saooti-export:before {
  content: "\e923";
}
.saooti-send:before {
  content: "\e924";
}
.saooti-search:before {
  content: "\e925";
}
.saooti-facebook:before {
  content: "\e926";
}
.saooti-twitter:before {
  content: "\e927";
}
.saooti-remove:before {
  content: "\e928";
}
.saooti-rss:before {
  content: "\e929";
}
.saooti-stop:before {
  content: "\e92a";
}
.saooti-pause:before {
  content: "\e92b";
}
.saooti-down:before {
  content: "\e92c";
}
.saooti-up:before {
  content: "\e92d";
}
.saooti-volume:before {
  content: "\e92e";
}
.saooti-play:before {
  content: "\e92f";
}
.saooti-warning:before {
  content: "\e930";
}
.saooti-edit:before {
  content: "\e931";
}
.saooti-linkedin:before {
  content: "\e932";
}
.saooti-tunin:before {
  content: "\e933";
  color: #36b4a7;
}
.saooti-radioline:before {
  content: "\e934";
  color: #1678bd;
}
.saooti-spotify:before {
  content: "\e941";
  color: #1ed760;
}
.saooti-podcast:before {
  content: "\e942";
  color: #93c;
}
.saooti-deezer:before {
  content: "\e943";
  color: #00c7f2;
}
.saooti-apple:before {
  content: "\e944";
  color: #999;
}
.saooti-mic:before {
  content: "\e945";
}
.saooti-mic-off:before {
  content: "\e946";
}
.saooti-cartouche:before {
  content: "\e947";
}
.saooti-listening:before {
  content: "\e948";
}
.saooti-user:before {
  content: "\e949";
}
.saooti-stitcher-logo:before {
  content: "\e94a";
}
.saooti-pocket-casts:before {
  content: "\e95c";
  color: #f43e37;
}
.saooti-playerfm:before {
  content: "\e95e";
  color: #bb202a;
}
.saooti-podcast-addict:before {
  content: "\e95f";
  color: #f4842d;
}
.saooti-filter-distrib:before {
  content: "\e961";
}
.saooti-google-podcasts:before {
  content: "\e962";
}
.saooti-amazon:before {
  content: "\e969";
}
.saooti-Whatsapp:before {
  content: "\e96c";
  color: #2cb742;
}
.saooti-more:before {
  content: "\e96f";
}
.saooti-newsletter:before {
  content: "\e970";
}
.saooti-qrcode:before {
  content: "\e971";
}
.saooti-pin:before {
  content: "\e972";
}
.saooti-copy:before {
  content: "\e973";
}
.saooti-table:before {
  content: "\e974";
}
.saooti-arrow-right:before {
  content: "\e975";
}
.saooti-arrow-down:before {
  content: "\e976";
}
.saooti-arrow-up:before {
  content: "\e977";
}
