  /* stylelint-disable */
.octopus-app{
  
  .status-PENDING {
    background: var(--octopus-warning);
  }

  .status-NOT_VALID {
    background: var(--octopus-danger);
  }

  .status-VALIDATED {
    background: var(--octopus-primary);
  }

  .status-comment, .status-VALIDATED, .status-NOT_VALID, .status-PENDING {
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }
}
/* stylelint-enable */