  .planned-bg {
    background: oklch(57.53% 0.1486 48.84);
  }

  .pending-bg {
    background: oklch(58.38% 0.2006 34.49);
  }

  .recording-bg {
    background: oklch(58.93% 0.2379 28.87);
  }

  .error-bg {
    background: oklch(46.95% 0.1926 29.23);
  }

  .debriefing-bg {
    background: oklch(55.18% 0.1399 143.39);
  }

  .done-bg {
    background: oklch(57.14% 0.1711 257.32);
  }

  .publishing-bg {
    background: oklch(54.52% 0 0);
  }