@use 'variables';
@use 'utilities' with (
  $primary: var(--octopus-primary),
  $secondary: var(--octopus-gray-text),
  $danger: var(--octopus-danger),
  $border-default: var(--octopus-border-default)
);
@use 'bootstrap';
@use 'general';
@use 'live';
@use 'form';
@use 'transition';
@use 'share';