.octopus-app{
    .play-button-box {
        height: 2.2rem;
        width: 2.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0.5rem;
        border-radius: 50% !important;
        flex-shrink: 0;
        cursor: pointer;
      }
    
}