@use '@scss/variables' as octopusVariables;

.octopus-app{
  .status-PENDING {
    background: #eb7d22;
  }
  .status-NOT_VALID {
    background: #d40303;
  }
  .status-VALIDATED {
    background: octopusVariables.$octopus-primary-color;
  }
  .status-comment, .status-VALIDATED, .status-NOT_VALID, .status-PENDING {
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }
}