@use '@scss/variables' as octopusVariables;

.octopus-app{
	.octopus-form-item{
		min-height: 1.44rem;
    padding: 0.4rem 0;
		@media (max-width: 960px) {
			padding: 0;
		}
	}
	.form-label {
		display: block;
		line-height: 1.2rem;
		padding: 0.5rem 0 0;
		color: black;
		font-weight: bold;
		font-size: 0.9rem;
		margin-bottom: 0.5rem;
	}
	.form-margin{
		margin-bottom: 1rem;
	}
	.counter-align-right{
		flex-grow: 1;
		text-align: right;
		font-size: 0.7em;
		margin-bottom: 0;
	}	
	select {
		background: white !important;
		outline-color: transparent !important;
		padding: 0.25rem 0.4rem;
		border: 0.1rem solid #dee2e6;
		border-radius: octopusVariables.$octopus-borderradius;
		height: 2rem;
		max-width: 85vw;
		padding-right: 40px;
	}
	input[type="checkbox"], input[type="radio"]{
		accent-color: octopusVariables.$octopus-primary-color;
		cursor: pointer;
		margin-right: 5px;
	}
	.form-input, .v3-input-emoji-picker .v3-input-picker-root .v3-emoji-picker-textarea{
		appearance: none;
		background: #fff;
		background-image: none;
		border: 0.1rem solid #dee2e6;
		border-radius:octopusVariables.$octopus-borderradius;
		color: #353535;
		display: block;
		font-size: 0.8rem;
		height: 2rem;
		line-height: 1.2rem;
		max-width: 100%;
		padding: 0.25rem 0.4rem;
		position: relative;
		width: 100%;
		&:disabled, &.disabled{
			background: #eee;
		}
	}
}