.octopus-app{
	.octopus-form-item{
		min-height: 1.44rem;
	}
	select {
		background: white !important;
		outline-color: transparent !important;
		padding: 0.25rem 0.4rem;
		border: 0.1rem solid #dee2e6;
		border-radius: 0.3rem;
		height: 2rem;
		padding-right: 40px;
	}
	input[type="checkbox"], input[type="radio"]{
		accent-color: $octopus-primary-color;
		cursor: pointer;
		margin-right: 5px;
	}
	.form-input{
		appearance: none;
		background: #fff;
		background-image: none;
		border: 0.1rem solid #dee2e6;
		border-radius: 0.3rem;
		color: #353535;
		display: block;
		font-size: 0.8rem;
		height: 2rem;
		line-height: 1.2rem;
		max-width: 100%;
		padding: 0.25rem 0.4rem;
		position: relative;
		width: 100%;
		&:disabled, &.disabled{
			background: #eee;
		}
	}
}