@use '@scss/variables' as octopusVariables;

html{
  font-size: 20px;
  height: 100%;
}
body{
  margin: 0;
  color: #353535;
  font-family: "Montserrat",sans-serif,Helvetica Neue;
  font-size: 0.8rem;
  overflow-x: hidden;
  background: #ebebeb;
  min-height: 100%;
  overscroll-behavior-y: contain;
  display: flex;
  flex-direction: column;
}
#app{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.octopus-app{
  flex-grow: 1;
  *:focus-visible{
    outline: none;
    box-shadow: 0 0 10px 1px octopusVariables.$octopus-primary-color !important;
  }
  a{
    word-break: break-word;
    text-decoration: none;
    color: octopusVariables.$octopus-primary-color;
    &.link-hover{
      color: black;
      font-weight: 500;
      word-break: normal;
    }
    &.link-hover:hover, &.link-hover.router-link-exact-active.router-link-active{
      color: octopusVariables.$octopus-primary-color;
    }
    &.btn, &.btn:hover{
      color: #383838;
    }
  }
  hr{
    height: 0.01rem;
    color: #999;
  }
  .d-flex-column{
		display: flex;
		flex-direction: row;
		@media (max-width: 960px) {
			flex-direction: column;
		}
	}
  .d-flex-row{
		display: flex;
		flex-direction: column;
		@media (max-width: 960px) {
			flex-direction: row;
      flex-wrap: wrap;
		}
	}
  .secondary-bg{
    background: octopusVariables.$octopus-background;
  }
  .really-light-secondary-bg{
    background: #f7f7f7;
  }
  .light-primary-bg{
		background-color: octopusVariables.$primaryColorTransparent !important;
	}
	.really-light-primary-bg{
		background-color: octopusVariables.$primaryColorReallyTransparent !important;
	}
  .blue-bg{
    background-color: octopusVariables.$blue-octopus;
  }
  .width-fit-content{
    width: fit-content !important;
  }
  .text-blue-octopus{
    color: octopusVariables.$blue-octopus !important
  }
  .page-box{
    background-color: octopusVariables.$octopus-background;
    padding: 1rem 3rem 3rem 3rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    @media (max-width: 1400px) {
      padding: 2rem;
    }
    @media (max-width: 1200px) {
      padding: 1rem;
    }
    @media (max-width: 450px) {
      padding: 1rem 0.5rem;
    }
  }

  .module-box{
    background-color: white;
    padding: 1.3rem;
    margin: 1.5rem 0.5rem 0 0.5rem;
    border-radius: octopusVariables.$octopus-borderradius;
    flex-grow: 1;
    overflow: auto;
    border: 2px solid #eee;
    @media (max-width: 500px){
      margin: 0.3rem;
      padding: 0.8rem;
    }
  }
  
  .descriptionText{
    word-wrap: break-word;
    font-size: 0.7rem;
    @media (max-width: 450px) {
      margin: 1rem 0;
    }
  }

  .flex-super-grow{
    flex-grow: 2;
  }
  .flex-small-grow {
    flex-grow: 0.3;
  }
  .flex-grow-mobile {
    @media (max-width: 960px) {
        flex-grow: 1;
    }
  }
  .text-center-mobile{
    text-align: inherit;
    @media (max-width: 960px) {
      text-align: center;
    }
  }
  .hide-phone{
    @media (max-width: 960px) {
      display: none !important;
    }
  }
  .hide-small-screen{
		@media (max-width: 500px) {
			display: none !important;
		}
	}
  .show-phone{
    display: none;
    @media (max-width: 960px) {
      display: block !important;
    }
  }
  .show-phone-flex{
    display: none !important;
    @media (max-width: 960px) {
      display: flex !important;
    }
  }
  .show-small-phone-flex{
    display: none !important;
    @media (max-width: 380px) {
      display: flex !important;
    }
  }
  .hid{
    display: none !important;
  }
  .d-contents{
    display: contents;
  }
  .img-box{
    height: octopusVariables.$octopus-item-size;
    width: octopusVariables.$octopus-item-size;
    background-size: cover;
    border-radius: octopusVariables.$octopus-borderradius !important;
    overflow: hidden;
    flex-shrink: 0;
    @media (max-width: 960px) {
      flex-grow: 0;
    }
    @media (max-width: 550px) {
      margin-left: auto !important;
      margin-right: auto !important;
      float: inherit !important;
      display: flex;
      width: octopusVariables.$octopus-mobile-item-size !important;
      height: octopusVariables.$octopus-mobile-item-size !important;
    }
  }
  .img-box-podcast{
    height: octopusVariables.$octopus-item-podcast-size;
    width: octopusVariables.$octopus-item-podcast-size;
  }

  .comma {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    > a {
      text-transform: capitalize;
      &:after {
        content: ", ";
        margin-right: 0.2rem;
      }
      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }
  .c-hand{
    cursor: pointer;
  }
  .c-hand-auto {
    cursor: auto;
  }
  .two-line-clamp{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
  }

  .ten-line-clamp{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    word-break: break-word;
  }
  .word-break-word{
    word-break: break-word;
  }
  .border{
		border-radius: octopusVariables.$octopus-borderradius;
	}

  .html-wysiwyg-content{
    h3,h4{
      margin: 0 0 0.5em 0 !important;
    }
    h3{
      font-size: 1rem;
      text-align: center;
      color: #666;
    }
    h4{
      font-size: 0.9rem;
    }
    p, ol, ul{
      margin-bottom: 0.2rem;
    }
  }
  @media (max-width: 960px) {
    .d-flex:not(.flex-column){
      flex-wrap: wrap;
    }
  }
}