  .planned-bg {
    background: rgb(188, 88, 16);
  }
  .pending-bg {
    background: rgb(216, 58, 14);
  }
  .recording-bg {
    background: rgb(233, 12, 12);
  }
  .error-bg {
    background: rgb(173, 0, 0);
  }
  .debriefing-bg {
    background: rgb(54, 134, 54);
  }
  .done-bg {
    background: rgb(42, 117, 218);
  }
  .publishing-bg {
    background: rgb(112, 112, 112);
  }
  .planned-shadow {
    box-shadow: 0px 12px 48px 6px rgba(188, 88, 16, 0.2);
  }
  .pending-shadow {
    box-shadow: 0px 12px 48px 6px rgba(216, 58, 14, 0.2);
  }
  .recording-shadow {
    box-shadow: 0px 12px 48px 6px rgba(233, 12, 12, 0.2);
  }
  .debriefing-shadow {
    box-shadow: 0px 12px 48px 6px rgba(54, 134, 54, 0.2);
  }
  .publishing-shadow {
    box-shadow: 0px 12px 48px 6px rgba(112, 112, 112, 0.2);
  }
  .error-shadow {
    box-shadow: 0px 12px 48px 6px rgba(173, 0, 0, 0.2);
  }