  .planned-bg {
    background: rgb(188, 88, 16);
  }
  .pending-bg {
    background: rgb(216, 58, 14);
  }
  .recording-bg {
    background: rgb(233, 12, 12);
  }
  .error-bg {
    background: rgb(173, 0, 0);
  }
  .debriefing-bg {
    background: rgb(54, 134, 54);
  }
  .done-bg {
    background: rgb(42, 117, 218);
  }
  .publishing-bg {
    background: rgb(112, 112, 112);
  }