//Modal
.octopus-app{
	.modal{
		display: block;
	}
	.modal-backdrop {
		opacity: 0.5;
		z-index: 0;
	}

	.modal-dialog {
		box-shadow: 0 0.2rem 0.5rem rgba(40,40,40,.3);
		border-radius: 15px;
		max-height: 75vh;
		max-width: 640px;
		padding: 0 .8rem;
		width: 100%;
		background: white;
		display: flex;
		color: #353535 !important;
		@media (max-width: 500px){
			width: 95%;
			margin: 2.5% !important;
		}
	}
	.modal-header { 
		border: 0;
        @media (max-width: 450px) {
            padding: 1rem 0;
        } 
    }
	.modal-body{
		overflow-x: auto;
		.scroller-vertical {
			min-height: 200px;
			height: 200px;
		}
		@media (max-width: 500px){
			padding: 0;
		}
	}
	.modal-dialog, .modal-content {
		min-height: 300px;
	}
	.modal-content{
		border: 0;
		height: auto !important;
		max-height: calc(100vh - 250px) !important;
	}
	.modal-footer{
		border: 0;
		flex-wrap: initial;
	}
}