@use '@scss/variables' as octopusVariables;
@use 'utilities' with (
  $font-size-base: octopusVariables.$font-size-base,
  $primary: octopusVariables.$primary,
  $secondary: octopusVariables.$secondary,
  $danger: octopusVariables.$danger,
);
@use 'bootstrap.scss';
@use 'general.scss';
@use 'live.scss';
@use 'form.scss';
@use 'transition.scss';
@use 'share.scss';